extends layout

block content
  .container
    h2 Grade: #{title.title}
    form(method='post' action=`/titles/${title._id}/grade`)
      label Select Grade
      select(name='grade' required)
        option(value='') -- select --
        option(value='A') A
        option(value='B') B
        option(value='C') C
        option(value='D') D
        option(value='F') F
      button(type='submit') Save Grade
    a(href=`/titles/${title._id}`) Back
extends layout

block content
  .container
    h2 Grade: #{title.title}
    form(method='post' action=`/titles/${title._id}/grade`)
      label Select Grade
      select(name='grade' required)
        option(value='') -- choose --
        option(value='A') A
        option(value='B') B
        option(value='C') C
        option(value='D') D
        option(value='F') F
      button(type='submit') Save Grade
    a(href=`/titles/${title._id}`) Back
